<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>main page</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="js/script.js" defer></script>
</head>
<body>
    <section class="hero">
        <div class="controls">
          <!-- <button class="btn-custom btn-large">Sign Up For</button> -->
          <h1>passion</h1>
          <div class="flex">
          <!-- <a href="/signup"><button class="btn-custom btn-large">Sign Up For</button> </a>   -->
        <a href="/login"><button class="btn-custom btn-large">Sign In For</button></a>  
    </div>
        </div>
        <figure>
          <picture>
            <source
              srcset="
                https://raw.githubusercontent.com/mobalti/open-props-interfaces/main/cyber-glitch-effect/images/hero.avif
              "
              type="image/avif"
            />
            <img
              src="https://raw.githubusercontent.com/mobalti/open-props-interfaces/main/cyber-glitch-effect/images/hero.webp"
              alt="cyber image"
            />
          </picture>
        </figure>
      </section>
</body>
</html>